    <footer>
      <p>Website by Mohamed Abdulwahab, Chris Russel, [@poxi] Whitney Dallas, & Robert Knott. View code on Github <a href="https://github.com/MohamedAbdulwahab/100devs-Merch-Store">here</a>.</p>
      <p>Official 100Devs links: <a href="https://leonnoel.com/100devs/">Website</a> | <a href="https://discord.com/invite/zNxhjnmDPy">Discord</a> | <a href="https://twitter.com/leonnoel">@leonnoel</p></a>
      <p>Other 100Devs Community created links: <a href="https://communitytaught.org/">#communitytaught</p></a>
      <!-- Links to our social media/credit -->
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </div>
</body>
</html>
