<%- include('partials/header') -%>

<main>
    <section class="main-top">
        <section class="main-top-left">
            <h1>100Devs (Unofficial) Merch Store</h1>
            <p>Description of the site here.</p>
        </section>

        <img id="main-img" src="/images/tshirt-template.png" alt="100Devs merchandise">
    </section>

    <section class="main-bottom">
        <h2>Bottom Section</h2>
        <section class="main-bottom-divs">
            <div>
                <p>Section 1</p>
            </div>

            <div>
                <p>Section 2</p>
            </div>

            <div>
                <p>Section 3</p>
            </div>
        </section>
        <!-- Links to leon's sites and other dev projects -->
    </section>
</main>


<%- include('partials/footer') -%>
