<%- include('partials/header') -%>


<main>
  <div id="shop">

  </div>
  <div id="shopping-cart"></div>
  <div id="cartAmount"></div>
  <div id="label"></div>
</main>

<script src="/js/shopItemsData.js"></script>
<script src="/js/shop.js"></script>

<%- include('partials/footer') -%>
