<%- include('partials/header') -%>

<main class="container">
	<div class="row">
		<div>
			<p><strong>User Name</strong>: <%= user.userName %></p>
			<p><strong>Email</strong>: <%= user.email %></p>
			<a href="/logout" class="col-3 btn btn-primary">Logout</a>
		</div>
	</div>
</main>

<%- include('partials/footer') -%>
