/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  max-width: 700px;
  border: solid 10px turquoise;
}
body{
  text-align: center;
  background-image: url('outerspace.jpg');
  background-size: 100%;
}
iframe{
  display: none;
  margin: auto;
  width: 600px;
  height: 400px;
  border: solid 10px turquoise;
}
p, h3{
  max-width: 800px;
  margin: 50px auto;
  font-family: 'IBM Plex Mono', Verdana, sans-serif;
}
button, input{
  height: 45px;
  font-size: 1.3rem;
  font-family: 'IBM Plex Mono', Verdana, sans-serif;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
p{
  font-size: 1.3rem;
  background-color: rgba(0,0,0, .6);
}
.title{
  font-size: 4.5rem;
  font-family: 'Monofett', Verdana, sans-serif;
}
h1, h2, h3, p, span{
  color: white;
  font-family: 'IBM Plex Mono', Verdana, sans-serif;
}
h3{
  background-color: rgba(0,0,0, .6);
  line-height: 1.8rem;
  font-size: 1.3rem;
}
button{
  background-color: turquoise;
}
span{
  font-size: 0.8rem;
  background-color: rgba(0,0,0, .6);
  margin: auto 20px;
}